//- Variables from pages
block variables

doctype html
html(lang="ru")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="robots" content="no-index, follow")

        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")

        meta(name="description" content=description)
        meta(name="keywords" content=keywords)
        title #{title}

        // API Яндекс карт подключать только на страницаъ с картой
        script(src="https://api-maps.yandex.ru/2.1/?apikey=4c74d479-972b-4c76-81e7-b1bc63268173&lang=ru_RU")

    body(class=pageClass)

        header.header#header
            include header/header
        main.main
            block content
        footer.footer#footer
            include footer/footer