section.section.changes
    .container
        .row
            .col
                h2.section__title Как изменится ваша жизнь, если вы начнёте применять полученные знания:
    .container
        .row
            .col-6
                .changes__state.changes__state_before.d-flex.justify-content-center.align-items-center.mb-4.mb-md-5 До практикума
            .col-6
                .changes__state.changes__state_after.d-flex.justify-content-center.align-items-center.mb-4.mb-md-5 После практикума

    .container
        .row
            .col-6
                .changes__card.mb-4.mb-md-5.mb-xl-0
                    .changes_pic(style="background-image: url(/img/changes-pic-1.jpg)")
                    .changes_desc.mt-2.mt-md-3.mt-lg-4.mt-xl-0
                        strong У вас не развита интуиция
                        | !{' '}
                        | и поэтому вы: не разбираетесь в людях, постоянно выбираете "не тех" мужчин, не можете уловить нужный момент или предчувствовать грядущие неприятности

            .col-6
                .changes__card.mb-4.mb-md-5.mb-xl-0
                    .changes_pic(style="background-image: url(/img/changes-pic-2.jpg)")
                    .changes_desc.mt-2.mt-md-3.mt-lg-4.mt-xl-0
                        | Вы
                        | !{' '}
                        strong прокачали свою интуицию
                        | !{' '}
                        | и благодаря ей мгновенно "считываете" людей, можете предчувствовать опасность, понимаете сны и всегда оказываетесь в нужное время в нужном месте

            .col-6
                .changes__card.mb-4.mb-md-5.mb-xl-0
                    .changes_pic(style="background-image: url(/img/changes-pic-3.jpg)")
                    .changes_desc.mt-2.mt-md-3.mt-lg-4.mt-xl-0
                        strong Вы страдаете от постоянного упадка сил,
                        | !{' '}
                        | вам сложно концентрироваться, работа даётся с трудом, у вас постоянно что-то болит, а простая пробежка кажется крайне изнурительной задачей

            .col-6
                .changes__card.mb-4.mb-md-5.mb-xl-0
                    .changes_pic(style="background-image: url(/img/changes-pic-4.jpg)")
                    .changes_desc.mt-2.mt-md-3.mt-lg-4.mt-xl-0
                        strong Вы излучаете позитив, бодрость и жизенную энергию!
                        | !{' '}
                        | Вы чувствуете себя активнее, здоровее и успеваете делать в разы больше. Вам хватает терпения и мотивации доводить дела до конца

            .col-6
                .changes__card.mb-4.mb-md-5.mb-xl-0
                    .changes_pic(style="background-image: url(/img/changes-pic-5.jpg)")
                    .changes_desc.mt-2.mt-md-3.mt-lg-4.mt-xl-0
                        strong Вы не знаете, как решить ворох накопившихся проблем
                        | !{' '}
                        | и считаете, что для этого нужны либо большие связи, либо большие деньги

            .col-6
                .changes__card.mb-4.mb-md-5.mb-xl-0
                    .changes_pic(style="background-image: url(/img/changes-pic-6.jpg)")
                    .changes_desc.mt-2.mt-md-3.mt-lg-4.mt-xl-0
                        strong Вы обнаружили в себе скрытые способности
                        | !{' '}
                        | и ресурсы, о которых даже не подозревали и теперь используете их для успешного решения сложных ситуаций у себя и близких

            .col-6
                .changes__card.mb-4.mb-md-5.mb-xl-0.pb-xl-0
                    .changes_pic(style="background-image: url(/img/changes-pic-7.jpg)")
                    .changes_desc.mt-2.mt-md-3.mt-lg-4.mt-xl-0
                        strong Вы считаете себя невезучим человеком:
                        | !{' '}
                        | хорошие должности, выигрыши, выгодные знакомства, удачные возможности проходят мимо вас и всегда достаются кому-то другому

            .col-6
                .changes__card.mb-4.mb-md-5.mb-xl-0.pb-xl-0
                    .changes_pic(style="background-image: url(/img/changes-pic-8.jpg)")
                    .changes_desc.mt-2.mt-md-3.mt-lg-4.mt-xl-0
                        strong Вы ощущаете себя настоящим любимчиком фортуны:
                        | !{' '}
                        | события ﻿складываются как нельзя лучше, вы притягиваете в свою жизнь нужные возможности, важных людей и большие деньги

    .container
        .row.justify-content-center
            .col-md-6.col-xl-4.mt-3.mt-xl-0
                a.changes__action.link_button(href="/") Иду на практикум!