section.section.program
    .container
        .row
            .col
                h2.program__title.section__title.title Программа марафона

                .program__day-card.d-flex.flex-wrap
                    .program__day-date.d-flex.align-items-center.justify-content-center
                        | День 1-й
                        br
                        | 21 сентября в 15:00 мск

                    .program__day-title.d-flex.align-items-center.justify-content-center Диагностика ваших врождённых способностей

                    .program__day-pic.d-flex.justify-content-center.align-items-start
                        img(src="/img/pro-pic-1.jpg" alt="")

                    .program__day-content
                        ul.list__star
                            li
                                | Узнаете, что такое ясновидение,
                                | !{' '}
                                strong яснознание, яснослышание, ясночувствование
                                | !{' '}
                                | и поймёте, в чем разница?
                            li
                                | Определите, есть ли у вас
                                | !{' '}
                                strong врожденный дар?
                            li
                                | Пройдете практику на выявление
                                | !{' '}
                                strong Личного Канала Сверхспособностей
                            li
                                | Пройдете практику на
                                | !{' '}
                                strong раскрытие Аджна-чакры
                                | !{' '}
                                | (усиления восприятия информации)
                            li
                                | Совершите практику
                                | !{' '}
                                strong альфа-погружение
                                | !{' '}
                                | на выявление вредительских воздействий со стороны
                            li
                                | Узнаете, где находится
                                | !{' '}
                                strong Центр Управления Судьбой

                        .program__list-caption РЕЗУЛЬТАТ:

                        ul.list__point
                            li Знаете, что сверхспособности — это не удел избранных, вы тоже обладаете ими с рождения, главное — выявить и раскрыть свой потенциал
                            li Определили, какие каналы восприятия существуют и как их использовать для усиления своих возможностей для себя и близких, на работе и в быту
                            li Выявили сторонние негативные воздействия, которые не дают развиваться вашим способностям


                .program__day-card.d-flex.flex-wrap
                    .program__day-date.d-flex.align-items-center.justify-content-center
                        | День 2-й
                        br
                        | 22 сентября в 15:00 мск

                    .program__day-title.d-flex.align-items-center.justify-content-center Учимся чувствовать энергию при помощи рук

                    .program__day-pic.d-flex.justify-content-center.align-items-start
                        img(src="/img/pro-pic-2.jpg" alt="")

                    .program__day-content
                        ul.list__star
                            li Пройдете диагностику на выявление блоков энергии
                            li
                                | Сделаете нумерологический
                                | !{' '}
                                strong расчет сверхспособностей по дате рождения
                            li
                                | Пройдете практику на
                                | !{' '}
                                strong раскрытие чувствования энергии в руках
                            li
                                | Получите практику раскрытия энергии на каждый день

                        .program__list-caption РЕЗУЛЬТАТ:

                        ul.list__point
                            li Знаете, какие именно способности были даны вам при рождении
                            li Научились чувствовать энергию с помощью рук и понимаете, как можно использовать её для определения проблем со здоровьем и устранения боли
                            li Освоили методику экстренной энергетической помощи и знете, как мгновенно восстановить работоспособность при упадке сил


                .program__day-card.d-flex.flex-wrap
                    .program__day-date.d-flex.align-items-center.justify-content-center
                        | День 3-й
                        br
                        | 23 сентября в 15:00 мск

                    .program__day-title.d-flex.align-items-center.justify-content-center Открываем в себе Сверхсилу и учимся ею управлять!

                    .program__day-pic.d-flex.justify-content-center.align-items-start
                        img(src="/img/pro-pic-3.jpg" alt="")

                    .program__day-content
                        ul.list__star
                            li
                                | Узнаете
                                | !{' '}
                                strong 6 законов Сверхсилы
                            li
                                | Выясните,
                                | !{' '}
                                strong что делать, если вы обнаружили в себе сверхспособности:
                                | !{' '}
                                | как ими управлять и что будет, если их не применять на практике
                            li
                                | Узнаете,
                                | !{' '}
                                strong как использовать вещие сны для реализации способностей
                            li
                                | Получите
                                | !{' '}
                                strong практику восполнения ресурса и энергии за 6 минут,
                            li
                                | Пройдете п
                                | !{' '}
                                strong рактику-доступ к Центру Сверхсилы в вашем теле
                            li
                                | Узнаете,
                                | !{' '}
                                strong как формулировать намерения и желания так, чтобы они исполнялись с вероятностью 100%
                                | !{' '}
                                | так, чтобы они исполнялись с вероятностью 100%

                        .program__list-caption РЕЗУЛЬТАТ:

                        ul.list__point
                            li Поняли, как экологично управлять своими способностями и использовать их для помощи себе и близким
                            li Знаете, как взаимодействовать с вещими снами и формировать намерение так, чтобы достигать свих желаний и целей со 100% точностью
                            li Восстановили свой энергетический баланс на практикуме, после чего вы ещё неделю ощущаете выраженный эффект: прилив сил и работоспособности, позитивное настроение, заряд мотивации, отличное самочувствие, повышение дохода и пребывание на волне удачных обстоятельств
