section.section.steps
    img.steps__figure.d-none.d-xl-block(src="/img/steps-figure.svg" alt="")
    .container
        .row
            .col
                h2.section__title Всего за 3 дня
                .section__subtitle вы обретете уверенность в своей СИЛЕ и СВЕРХспособностях и поверите, что способны на большее:

    .container
        .row
            .steps__arr.steps__arr_1.order-1.mb-2
                .icon
            .steps__arr.steps__arr_2.order-3.order-lg-2.mb-2
                .icon
            .steps__arr.steps__arr_3.order-5.order-lg-3.mb-2
                .icon
            .steps__arr.steps__arr_4.order-7.order-lg-4.mb-2
                .icon
            .steps__arr.steps__arr_5.order-9.order-lg-5.mb-2
                .icon

            .col-md-9.col-lg-2.order-2.order-lg-6.mb-4.mb-md-5
                .steps__desc
                    | Научитесь
                    | !{' '}
                    span считывать информацию
                    | !{' '}
                    | из настоящего, прошлого и будущего
            .col-md-9.col-lg-3.order-4.order-lg-7.mb-4.mb-md-5
                .steps__desc
                    | Узнаете, какой у вас основной
                    | !{' '}
                    span канал экстрасенсорного
                    | !{' '}
                    | восприятия и считывания информации
            .col-md-9.col-lg-2.order-6.order-lg-8.mb-4.mb-md-5
                .steps__desc
                    | Сможете
                    | !{' '}
                    span наполняться Энергией Жизни за 3 минуты
                    | !{' '}
                    | через особую альфа-практику
            .col-md-9.col-lg-3.order-8.order-lg-9.mb-4.mb-md-5
                .steps__desc
                    | Поймёте, как
                    | !{' '}
                    span убрать денежные блоки и вредоносные воздействия со стороны
                    | !{' '}
                    | (которые есть у 90% людей в мире)
            .col-md-9.col-lg-2.order-10.order-lg-10
                .steps__desc
                    | Рассчитаете,
                    | !{' '}
                    span есть ли у вас сверх-способности
                    | !{' '}
                    | по дате вашего рождения
